* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #0d6efd;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    color: #333;
}

.nav-links li {
    text-decoration: none;
}

.btn-daftar {
    color: white;
}

.hero {
    background-color: #0d6efd;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 100px 20px;
}

.btn-primary {
    margin-right: 5px;
    font-weight: bold;
    color: #0d6efd;

}

.courses-section {
    background-color: #f8f9fa;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.course-section h2 {
    font-weight: bold;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.course-card {
    background-color: white;
    text-align: left;
    border-radius: 10px;
    width: 100%;
}

.course-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 24px;
}

@media only screen and (max-width:900px) {
    .course-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-daftar {
        display: none;
    }


}

@media only screen and (max-width:600px) {
    .course-grid {
        grid-template-columns: repeat(1fr);
    }


    .hero {
        padding: 80px 10px;
    }
}