body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    width: 100%;
    height: auto;
}
img{
    width: 500px;
    height: 500px;
}
.button-type{
    width:250px; 
    height:50px;
    border-radius:100px;
    border:1px solid black;
    font-weight:bold;
    background-color:#282b30;
    color:white
}