body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: #00a3a8;
}
hr{
    color: grey;
}

ol > li{
    margin-left: 50px;
    margin-right: 50px;
}
ul > li{
    margin-left: 50px;
    margin-right: 50px;
}

.title-page{
    background-color: #00a3a8;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}
.content{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.container{
    margin: auto;
    max-width: 1000px;
}

.paragraph{
    border: 4px solid #00a3a8;
    border-radius: 30px;;
    padding: 20px;
}